body {
    margin: 5% 10%;
    color: #252525;
}

h1 {
    font-family: Montserrat, sans-serif;
    text-align: center;
}

a {
    text-decoration: none;
    color: #303030;
    /*font-size: 12px;*/
    /*font-weight: 800;*/
    position: relative;
    -webkit-transition: color ease .2s;
    transition: color ease .2s;
}

.footer_section {
    margin-top: 2em;
    text-align: center;
}