body {
    margin: 5% 10%;
    color: #252525;
}

h1 {
    font-family: Montserrat, sans-serif;
    text-align: center;
    font-size: 2.5em;
}

.data_as_of_section {
    text-align: center;
    margin-bottom: 5px;
}

.top_description_section {
    text-align: center;
    margin-bottom: 30px;
    font-size: 0.8em;
}

a {
    text-decoration: none;
    color: #303030;
    /*font-size: 12px;*/
    /*font-weight: 800;*/
    position: relative;
    -webkit-transition: color ease .2s;
    transition: color ease .2s;
}

.footer_section {
    margin-top: 30px;
    text-align: center;
    font-size: 1.0em;
}