[common]
aws_access_key_id = xxx
aws_secret_access_key = xxx
aws_region = ap-northeast-1
s3_bucket = nico-gift-event-graph
db_host = xxx.rds.amazonaws.com
db_port = 3306
db_user = nico_gift_event_graph_user
db_password = xxx

[202206-giftevent-biyoukaden]
gift_event_begin_time_jst = 2022-06-20T00:00:00+09:00
gift_event_end_time_jst = 2022-06-27T02:01:00+09:00
ranking_json_url = https://audition.nicovideo.jp/api/v1/auditions/202206-giftevent-biyoukaden/rankings?limit=100

[202206_hopstepjump]
gift_event_begin_time_jst = 2022-06-11T00:00:00+09:00
gift_event_end_time_jst = 2022-06-20T02:01:00+09:00
ranking_json_url = https://audition.nicovideo.jp/api/v1/auditions/202206-hopstepjump/rankings?limit=100
