<!DOCTYPE html>
<html lang="ja">
<head>
    <meta charset="utf-8">
    <title>nico-gift-event-graph</title>
    <script src="https://cdn.jsdelivr.net/npm/chart.js@3.8.0/dist/chart.min.js"></script>
</head>
<body>
<canvas id="main-chart" width="400" height="150"></canvas>
<script>
    const ctx = document.getElementById('main-chart').getContext('2d');
    const labels = [ {% for label in data.labels %}
        '{{ label }}',
    {% endfor %} ];
    const data = {
        labels: labels,
        datasets: [ {% for user in data.top_users %}
            {
            label: '{{ user.name }}',
            backgroundColor: 'rgb(255, 99, 132)',
            borderColor: 'rgb(255, 99, 132)',
            data: {{ user.scores }},
            },
            {% endfor %} ]
    };
    const config = {
        type: 'line',
        data: data,
        options: {}
    };
    const myChart = new Chart(ctx, config);
</script>
</body>
</html>