<!DOCTYPE html>
<html lang="ja">
<head>
    <title>【ニコニコ生放送】ギフトイベントランキング</title>
    <meta charset="utf-8">
    <meta content="ニコニコ生放送のギフトイベントのランキングです。" name="description">
    <meta property="og:title" content="【ニコニコ生放送】ギフトイベントランキング"/>
    <meta property="og:description" content="ニコニコ生放送のギフトイベントのランキングです。"/>
    <meta property="og:type" content="website"/>
    <meta property="og:url" content="https://2525ans.com/gift/"/>
    <meta property="og:image" content="https://2525ans.com/bigneet02.jpg"/>
    <meta property="og:site_name" content="【ニコニコ生放送】ギフトイベントランキング"/>
    <meta property="og:locale" content="ja_JP"/>
    <meta name="viewport" content="width=device-width,initial-scale=0.6">
    <meta name="keywords" content="ニコニコ生放送,ニコ生,ギフト,ギフトイベント,イベント,ランキング,グラフ">
    <!-- Google Tag Manager @formatter:off -->
    <script>(function(w,d,s,l,i){w[l]=w[l]||[];w[l].push({'gtm.start':
    new Date().getTime(),event:'gtm.js'});var f=d.getElementsByTagName(s)[0],
    j=d.createElement(s),dl=l!='dataLayer'?'&l='+l:'';j.async=true;j.src=
    'https://www.googletagmanager.com/gtm.js?id='+i+dl;f.parentNode.insertBefore(j,f);
    })(window,document,'script','dataLayer','{{ data.gtm_container_id }}');</script>
    <!-- End Google Tag Manager @formatter:on -->
    <link rel="icon" href="./static/favicon.ico" id="favicon">
    <link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@600;700&amp;display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Noto+Sans+JP:100,300,400,500,700,900" rel="stylesheet">
    <link rel="stylesheet" type="text/css" href="./static/styles/index.css" media="screen">
    <script src="https://cdn.jsdelivr.net/npm/chart.js@3.8.0/dist/chart.min.js"></script>
</head>
<body>
<!-- Google Tag Manager (noscript) @formatter:off -->
<noscript><iframe src="https://www.googletagmanager.com/ns.html?id={{ data.gtm_container_id }}"
height="0" width="0" style="display:none;visibility:hidden"></iframe></noscript>
<!-- End Google Tag Manager (noscript) @formatter:on -->
<div class="title_section">
    <h1>
        <a href="./">
            <img src="{{ data.icon }}" width="48">
            <span>{{ data.title }}</span>
            <img src="{{ data.icon }}" width="48">
        </a>
    </h1>
</div>
<div class="data_as_of_section">
    更新日時: <span class="date">{{ data.data_as_of }}</span>
</div>
<div class="top_description_section">
    ( データ更新: 10分ごと )
</div>
<canvas id="main-chart"></canvas>
<script>
    const ctx = document.getElementById('main-chart').getContext('2d')
    const labels = [{% for label in data.labels %}'{{ label }}', {% endfor %}]
    const data = {
        labels: labels,
        datasets: [{% for user in data.top_users %}
            {
                label: '{{ user.name }}',
                backgroundColor: '{{ user.color }}',
                borderColor: '{{ user.color }}',
                borderWidth: 2,
                data: {{ user.scores }},
            }, {% endfor %}
        ]
    }
    const scales = {
        yAxes: {
            title: {
                display: true,
                text: '💰 ポイント',
                font: {size: 15}
            },
        },
        xAxes: {
            title: {
                display: true,
                text: '⏱ 日時',
                font: {size: 15}
            }
        }
    }
    const elements = {
        point: {
            radius: 0
        }
    }
    const plugins = {
        legend: {
            display: true,
            position: 'right',
            labels: {
                boxHeight: 8,
                font: {size: 11}
            },
            onClick: function (event, legendItem, legend) {
                const user_page_urls = [ {% for user in data.top_users %}
                    "{{ user.user_page_url }}", {% endfor %}
                ]
                const url = user_page_urls[legendItem.datasetIndex]
                window.open(url, '_blank').focus()
                return false
            },
            onHover: function (event) {
                event.native.target.style.cursor = 'pointer'
            },
            onLeave: function (event) {
                event.native.target.style.cursor = 'default'
            }
        }
    }
    const config = {
        type: 'line',
        data: data,
        options: {
            scales: scales,
            elements: elements,
            plugins: plugins
        },
        plugins: []
    };
    const myChart = new Chart(ctx, config);
</script>
<div class="link_section">
    <a href="{{ data.ranking_page_url }}" target="_blank">
        <img src="./static/images/logo_niconico.png" width="24"><span>公式ランキング</span></a>
    <a href="https://github.com/honishi/nico-gift-event-graph" target="_blank">
        <img src="./static/images/logo_github.png" width="23"><span>GitHub</span></a>
    <a href="https://twitter.com/d3d7x" target="_blank">
        <img src="./static/images/logo_twitter.png" width="25"><span>連絡先</span></a>
</div>
<div class="link_section">
    {%- for event in data.footer_events %}
        <a href="./{{ event.event_id }}">
            <img src="{{ event.icon }}" width="24"><span>{{ event.title }}</span></a>
    {%- endfor %}
</div>
<div class="page_meta_section">
    [ ページ生成時間: {{ meta.page_generation_seconds }} 秒 ]
</div>
</body>
</html>