body {
    margin: 3% 3%;
    color: #252525;
    background: #ffffff;
}

.title_section {
    text-align: center;
}

.title_section h1 {
    font-size: 2.0em;
    font-family: Montserrat, sans-serif;
}

.title_section h1 img {
    vertical-align: middle;
}

.title_section h1 span {
    vertical-align: middle;
    margin: 0 8px;
}

.data_as_of_section {
    text-align: center;
    margin-bottom: 5px;
}

.data_as_of_section .date {
    font-weight: 600;
}

.top_description_section {
    text-align: center;
    margin-bottom: 30px;
    font-size: 0.8em;
}

a {
    text-decoration: none;
    color: #303030;
    position: relative;
    -webkit-transition: color ease .2s;
    transition: color ease .2s;
}

.link_section {
    margin-top: 30px;
    text-align: center;
    font-size: 0.8em;
}

.link_section img {
    vertical-align: middle;
    margin-left: 16px;
    margin-right: 8px;
}

.link_section span {
    vertical-align: middle;
}

.page_meta_section {
    position: absolute;
    right: 0;
    padding: 0 32px;
    font-size: 0.7em;
}